@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <Button />
    </main>
    <ProfiraClinicWeb.Components.Layout.Footer.Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/> *@

<MudThemeProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />

<MudLayout>
    <MudAppBar Style="background: #f8eab9;">
        @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
        <div style="width: 25%;" class="d-flex align-items-center gap-1">
            <MudInput Placeholder="Search for.." Style="background: #fff; padding: 5px;" Class="rounded-3" @bind-Value="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="MudBlazor.Color.Secondary" />
            <MudIconButton Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" aria-label="searh"></MudIconButton>
        </div>
        <MudSpacer></MudSpacer>
        <MudBadge Content="3" Overlap="true" Class="mr-8" Color="MudBlazor.Color.Secondary">
            <MudIcon Icon="@Icons.Material.Filled.Notifications" Color="MudBlazor.Color.Default" />
        </MudBadge>
        <MudBadge Content="3" Overlap="true" Class="mr-16" Color="MudBlazor.Color.Secondary">
            <MudIcon Icon="@Icons.Material.Filled.Email" Color="MudBlazor.Color.Default" />
        </MudBadge>
        <div class="d-flex align-items-center gap-2" onclick="@ToggleProfilePopover">
            <MudText Typo="Typo.body2" Color="MudBlazor.Color.Dark">Valerie Luna</MudText>
            <MudAvatar>
                <MudImage Src="images/avatar1.jpeg" Alt="An image of the best dog ever!"></MudImage>
            </MudAvatar>
            <MudPopover Open="@_isProfilePopoverOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
		        <div class="d-flex flex-column pa-1">
                    <MudList Clickable="true">
                        <MudListItem Text="Profile" Icon="@Icons.Material.Filled.Person" />
                        <MudListItem Text="Settings" Icon="@Icons.Material.Filled.Settings" />
                        <MudListItem Text="Activity Log" Icon="@Icons.Material.Filled.FormatListBulleted" />
                        <MudDivider />
                        <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" />
                    </MudList>
		        </div>
	        </MudPopover>
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
            <MudNavGroup Icon="@Icons.Material.Filled.Settings" Title="Master" Expanded="true">
                <MudNavLink Href="/clinic">Klinik</MudNavLink>
                <MudNavLink Href="/package">Paket</MudNavLink>
                <MudNavLink Href="/treatment">Perawatan</MudNavLink>
                <MudNavLink Href="/product">Produk</MudNavLink>
                <MudNavLink Href="/doctor">Dokter</MudNavLink>
            </MudNavGroup>
            <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/list-pasien" Match="NavLinkMatch.All">Pasien</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    public string Search { get; set; }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public bool _isProfilePopoverOpen = false;

    public void ToggleProfilePopover()
    {
        _isProfilePopoverOpen = !_isProfilePopoverOpen;
    }
}
