@inherits LayoutComponentBase

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <Button />
    </main>
    <ProfiraClinicWeb.Components.Layout.Footer.Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/> *@

<MudThemeProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />

<CascadingValue Value="this">
    <MudLayout Class="bg-dark bg-opacity-25" Style='@GetBgClass()'>
        @* Top navbar *@

        @if (!isDoctor) {
            <MudAppBar Style="background: transparent;" Elevation="0">
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
                <div class="pa-4">
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Surface">@Route</MudText>
                    <MudText Typo="Typo.h4" Color="MudBlazor.Color.Surface">@Title</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudBadge Content="3" Overlap="true" Class="mr-8" Color="MudBlazor.Color.Secondary">
                    <MudIcon Icon="@Icons.Material.Filled.Notifications" Color="MudBlazor.Color.Default" />
                </MudBadge>
                <div class="d-flex align-items-center gap-1 mr-2">
                    <MudInput Placeholder="Search for.." Style="background: #fff; padding: 5px;" Class="rounded-3 search" @bind-Value="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="MudBlazor.Color.Secondary" />
                    @* <MudIconButton Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" aria-label="search"></MudIconButton> *@
                </div>
                @* <MudBadge Content="3" Overlap="true" Class="mr-16" Color="MudBlazor.Color.Secondary">
                    <MudIcon Icon="@Icons.Material.Filled.Email" Color="MudBlazor.Color.Default" />
                </MudBadge> *@
                <div class="d-flex align-items-center gap-2" onclick="@ToggleProfilePopover">
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Dark">Valerie Luna</MudText>
                    <MudAvatar>
                        <MudImage Src="images/avatar1.jpeg" Alt="An image of the best dog ever!"></MudImage>
                    </MudAvatar>
                    <MudPopover Open="@_isProfilePopoverOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
		                <div class="d-flex flex-column pa-1">
                            <MudList Clickable="true">
                                <MudListItem Text="Profile" Icon="@Icons.Material.Filled.Person" />
                                <MudListItem Text="Settings" Icon="@Icons.Material.Filled.Settings" />
                                <MudListItem Text="Activity Log" Icon="@Icons.Material.Filled.FormatListBulleted" />
                                <MudDivider />
                                <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="OpenDialog" />
                            </MudList>
		                </div>
	                </MudPopover>
                </div>
            </MudAppBar>
        } else
        {
            <MudAppBar Style="background: transparent;" Elevation="0">
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
                <MudLink Href="/" Class="d-flex justify-content-center gap-2 text-decoration-none">
                    <MudImage Src="images/logo-white.png" Alt="Profira" Class="" Height="85" />
                </MudLink>
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Dark" Edge="Edge.Start" OnClick="@DrawerToggle" /> *@
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
                <div class="pa-4">
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Surface">@Route</MudText>
                    <MudText Typo="Typo.h4" Color="MudBlazor.Color.Surface">@Title</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudBadge Content="3" Overlap="true" Class="mr-8" Color="MudBlazor.Color.Secondary">
                    <MudIcon Icon="@Icons.Material.Filled.Notifications" Color="MudBlazor.Color.Default" />
                </MudBadge>
                <div class="d-flex align-items-center gap-1 mr-2">
                    <MudInput Placeholder="Search for.." Style="background: #fff; padding: 5px;" Class="rounded-3 search" @bind-Value="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="MudBlazor.Color.Secondary" />
                    @* <MudIconButton Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" aria-label="search"></MudIconButton> *@
                </div>
                @* <MudBadge Content="3" Overlap="true" Class="mr-16" Color="MudBlazor.Color.Secondary">
            <MudIcon Icon="@Icons.Material.Filled.Email" Color="MudBlazor.Color.Default" />
            </MudBadge> *@
                <div class="d-flex align-items-center gap-2" onclick="@ToggleProfilePopover">
                    <MudText Typo="Typo.body2">Valerie Luna</MudText>
                    <MudAvatar>
                        <MudImage Src="images/avatar1.jpeg" Alt="An image of the best dog ever!"></MudImage>
                    </MudAvatar>
                    <MudPopover Open="@_isProfilePopoverOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                        <div class="d-flex flex-column pa-1">
                            <MudList Clickable="true">
                                <MudListItem Text="Profile" Icon="@Icons.Material.Filled.Person" />
                                <MudListItem Text="Settings" Icon="@Icons.Material.Filled.Settings" />
                                <MudListItem Text="Activity Log" Icon="@Icons.Material.Filled.FormatListBulleted" />
                                <MudDivider />
                                <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="OpenDialog" />
                            </MudList>
                        </div>
                    </MudPopover>
                </div>
            </MudAppBar>
        }

        @* Navbar *@
        @if (!isDoctor) {
            <MudDrawer @bind-Open="@_drawerOpen" Class="bg-transparent">
                <div class="p-3 h-100">
                    <div class="bg-white h-100 rounded-3 position-relative w-100 d-flex flex-column sidebar-container">
                        <MudDrawerHeader>
                            <MudImage Src="images/logo.jpg" Alt="Profira" Class="" Height="85" />
                        </MudDrawerHeader>
                        <MudDivider Class="my-2 sidebar-divider w-75 mx-auto mb-6 flex-grow-0" />
                        <MudNavMenu Color="MudBlazor.Color.Warning">
                            <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All" Class="fw-semibold">Dashboard</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.Settings" OnClick="@ToggleModal" Class="fw-semibold">Master</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/list-pasien" Match="NavLinkMatch.All" Class="fw-semibold">Pasien</MudNavLink>
                        </MudNavMenu>
                        <MudSpacer />
                        <MudDivider Class="my-2 sidebar-divider w-75 mx-auto mb-6 flex-grow-0" />
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Backspace" Color="MudBlazor.Color.Transparent" Class="mb-4 bg-transparent" DisableElevation="true" OnClick="() => _drawerOpen = !_drawerOpen">Minimize Menu</MudButton>
                    </div>
                </div>
            </MudDrawer>
            @if (MasterModalOpen) {
                <div class="master-modal">
                    <div class="master-modal-header">
                        <p class="align-items-center d-flex justify-content-center text-center m-0">Master</p>
                        <MudFab Size="MudBlazor.Size.Small" IconColor="MudBlazor.Color.Default" Color="MudBlazor.Color.Transparent" StartIcon="@Icons.Material.Filled.Close" DisableElevation="true" OnClick="@CloseModal"  />
                    </div>
                    <MudNavLink Href="/clinic">Klinik</MudNavLink>
                    <MudNavLink Href="/package">Paket</MudNavLink>
                    <MudNavLink Href="/treatment">Perawatan</MudNavLink>
                    <MudNavLink Href="/product">Produk</MudNavLink>
                    <MudNavLink Href="/doctor">Dokter</MudNavLink>
                </div>
            }
        } @* else
        {
            <MudDrawer @bind-Open="@_drawerOpen" Variant="@DrawerVariant.Temporary" Width="300px">
                <MudDrawerHeader Style="background-color:  rgb(92, 111, 248)">
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 py-8">
                        <MudImage src="/images/pasien.png" Class="rounded-circle" Width="70" Height="70"></MudImage>
                        <MudText Typo="Typo.h6" Style="color: white; font-weight: 400;">JOANNE</MudText>
                        <MudText Typo="Typo.body2" Style="color: white;">Doctor</MudText>
                    </div>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
                    <MudNavLink Icon="fa fa-stethoscope" Href="/pemeriksaan">Pemeriksaan</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Edit" Href="/penandaan-gambar">Penandaan Gambar</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.PlayCircle" Href="/cppt">CPPT</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Checklist" Href="/kontrol">Kontrol</MudNavLink>
                    <MudNavLink Icon="fa fa-user-md" Href="/doctor">Tindakan Perawatan</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/list-pasien" Match="NavLinkMatch.All">Pasien</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
        } *@
        <MudMainContent Class="h-100">
            @* <MudSwitch Class="pl-4" @bind-Value="@isDoctor" /> *@
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="h-100 px-1 pb-4">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</CascadingValue>

@inject NavigationManager NavigationManager;
@inject IDialogService DialogService
@code {
    bool _drawerOpen = true;

    bool isDoctor = false;

    string path = "";

    public string Search { get; set; }

    public string Title { get; set; } = "";

    public string Route { get; set; } = "";

    Boolean MasterModalOpen = false;

    public void CloseModal()
    {
        MasterModalOpen = false;
    }

    public void ToggleModal()
    {
        MasterModalOpen = !MasterModalOpen;
    }

    public void ChangeTitleAndRoute(string newTitle, string newRoute)
    {
        Title = newTitle;
        Route = newRoute;
        StateHasChanged();
    }

    string GetBgClass()
    {
        string wave = isDoctor ? "wave-blue" : "wave";
        return $"""background-image: url("images/{wave}.png"); background-repeat: no-repeat; height: 100vh; background-size: 100% 45%;""";
    }

    public void SetIsDoctor(Boolean newIsDoctor)
    {
        isDoctor = newIsDoctor;
        StateHasChanged();
    }

    void ToggleUserType()
    {
        isDoctor = !isDoctor;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    public bool _isProfilePopoverOpen = false;

    public void ToggleProfilePopover()
    {
        _isProfilePopoverOpen = !_isProfilePopoverOpen;
    }

    protected override void OnInitialized() {
        path = NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length);
    }

    private void OpenDialog()
    {
        DialogService.Show<ProfiraClinicWeb.Components.Dialog.LogOutDialog>("Log Out");
    }
}

<style>
    .mud-nav-link-icon-default {
        color: #0D24EC !important;
    }

    .sidebar-container .mud-button-label {
        color: #0D24EC !important;
        text-transform: none;
    }

    .mud-nav-link {
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: 500;
        font-size: 15px;
    }

    .mud-nav-link-text {
        letter-spacing: 0.5px !important;
    }

    .mud-toolbar-appbar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mud-main-content {
        padding-top: 104px;
    }

    .sidebar-divider {
        border: 1px solid rgba(71, 71, 71, 1);
    }

    .master-modal {
        position: absolute;
        left: 10vw;
        top: 10vh;
        z-index: 696969;
        white-space: nowrap;
        background: rgba(255, 255, 255, 1);
        border-radius: 15px;
        overflow: hidden;
        width: 20vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .master-modal-header {
        background: rgba(255, 166, 34, 1);
        padding: 8px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: 600;
    }
</style>
