@inherits LayoutComponentBase
@using ProfiraClinicWeb.Data
@using ProfiraClinicWeb.Models
@using Microsoft.EntityFrameworkCore;

@* <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <Button />
    </main>
    <ProfiraClinicWeb.Components.Layout.Footer.Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/> *@

<MudThemeProvider @rendermode="InteractiveServer" Theme="MyCustomTheme" />
<MudSnackbarProvider @rendermode="InteractiveServer" />
<MudDialogProvider @rendermode="InteractiveServer" />

<CascadingValue Value="this">
    <MudLayout Class="bg-dark bg-opacity-25" Style='@GetBgClass()'>
        @* Top navbar *@

        @if (!isDoctor) {
            <MudAppBar Style="background: rgba(255, 192, 98, 1); z-index: 1000;" Elevation="0" Fixed="true">
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
                <div class="pa-4">
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Surface">@Route</MudText>
                    <MudText Typo="Typo.h4" Color="MudBlazor.Color.Surface">@Title</MudText>
                </div>
                <MudSpacer></MudSpacer>
                <MudBadge Content="3" Overlap="true" Class="mr-8" Color="MudBlazor.Color.Secondary">
                    <MudIcon Icon="@Icons.Material.Filled.Notifications" Color="MudBlazor.Color.Default" />
                </MudBadge>
                <div class="d-flex align-items-center gap-1 mr-2">
                    <MudInput Placeholder="Search for.." Style="background: #fff; padding: 5px;" Class="rounded-3 search" @bind-Value="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="MudBlazor.Color.Secondary" />
                    @* <MudIconButton Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" aria-label="search"></MudIconButton> *@
                </div>
                @* <MudBadge Content="3" Overlap="true" Class="mr-16" Color="MudBlazor.Color.Secondary">
                    <MudIcon Icon="@Icons.Material.Filled.Email" Color="MudBlazor.Color.Default" />
                </MudBadge> *@
                <div class="d-flex align-items-center gap-2" onclick="@ToggleProfilePopover">
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Dark">Valerie Luna</MudText>
                    <MudAvatar>
                        <MudImage Src="images/avatar1.jpeg" Alt="An image of the best dog ever!"></MudImage>
                    </MudAvatar>
                    <MudPopover Open="@_isProfilePopoverOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
		                <div class="d-flex flex-column pa-1">
                            <MudList Clickable="true">
                                <MudListItem Text="Profile" Icon="@Icons.Material.Filled.Person" />
                                <MudListItem Text="Settings" Icon="@Icons.Material.Filled.Settings" />
                                <MudListItem Text="Activity Log" Icon="@Icons.Material.Filled.FormatListBulleted" />
                                <MudDivider />
                                <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="OpenDialog" />
                            </MudList>
		                </div>
	                </MudPopover>
                </div>
            </MudAppBar>
        } else
        {
            <MudAppBar Style="background: rgba(1, 73, 191, 1); z-index: 1000;" Elevation="0" Fixed="true">
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
                <MudLink Href="/" Class="d-flex justify-content-center gap-2 text-decoration-none">
                    <MudImage Src="images/logo-white.png" Alt="Profira" Class="" Height="85" Style="filter: brightness(0) invert(1);" />
                </MudLink>
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Dark" Edge="Edge.Start" OnClick="@DrawerToggle" /> *@
                @* <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" /> *@
                <div class="pa-4">
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Surface">@Route</MudText>
                    <MudText Typo="Typo.h5" Color="MudBlazor.Color.Surface">@Title</MudText>
                    @if (PasienName != "")
                    {
                        <MudText Typo="Typo.body2" Color="MudBlazor.Color.Surface">Pasien: @PasienName</MudText>
                    }

                    @if (PasienUsia != "")
                    {
                        <MudText Typo="Typo.body2" Color="MudBlazor.Color.Surface">Usia: @PasienUsia</MudText>
                    }
                </div>
                <MudSpacer></MudSpacer>
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex justify-content-center align-items-center">
                    <MudBadge Content="3" Overlap="true" Class="mr-8" Color="MudBlazor.Color.Secondary">
                            <MudIcon Icon="@Icons.Material.Filled.Notifications" Style="color: #fff;" />
                    </MudBadge>
                        <div class="mr-8">
                            <MudIcon Icon="@Icons.Material.Filled.Search" Style="color: #fff;" />
                        </div>
                    @* <div class="d-flex align-items-center gap-1 mr-2">
                        <MudInput Placeholder="Search for.." Style="background: #fff; padding: 5px;" Class="rounded-3 search" @bind-Value="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="MudBlazor.Color.Secondary" />
                        
                    </div> *@

                    @* <MudBadge Content="3" Overlap="true" Class="mr-16" Color="MudBlazor.Color.Secondary">
                <MudIcon Icon="@Icons.Material.Filled.Email" Color="MudBlazor.Color.Default" />
                </MudBadge> *@
                    <div class="d-flex align-items-center gap-2" onclick="@ToggleProfilePopover">
                        <MudText Typo="Typo.body2">@Kary?.NMKAR</MudText>
                        <MudAvatar>
                            <MudImage Src="images/avatar1.jpeg" Alt="An image of the best dog ever!"></MudImage>
                        </MudAvatar>
                        <MudPopover Open="@_isProfilePopoverOpen" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                            <div class="d-flex flex-column pa-1">
                                <MudList Clickable="true">
                                    <MudListItem Text="Profile" Icon="@Icons.Material.Filled.Person" />
                                    <MudListItem Text="Settings" Icon="@Icons.Material.Filled.Settings" />
                                    <MudListItem Text="Activity Log" Icon="@Icons.Material.Filled.FormatListBulleted" />
                                    <MudDivider />
                                    <MudListItem Text="Logout" Icon="@Icons.Material.Filled.Logout" OnClick="OpenDialog" />
                                </MudList>
                            </div>
                        </MudPopover>
                        </div>
                    </div>
                    @if (NavigationManager.ToBaseRelativePath(NavigationManager.Uri) != "dokter/dashboard") {
                        <div class="d-flex gap-3">
                            @if (ShowSave) {
                                <MudButton Size="MudBlazor.Size.Small" StartIcon="fa fa-floppy-disk" IconSize="@MudBlazor.Size.Small" Class="save-btn mt-2">Simpan</MudButton>
                            }
                            <MudButton Size="MudBlazor.Size.Small" StartIcon="fa fa-arrow-left" IconSize="@MudBlazor.Size.Small" Class="back-btn mt-2" OnClick="@GoBack">Kembali</MudButton>
                        </div>
                    }
                </div>
            </MudAppBar>
        }

        @* Navbar *@
        @if (!isDoctor) {
            <MudDrawer @bind-Open="@_drawerOpen" Class="bg-transparent" Variant="@DrawerVariant.Mini">
                <div class="@(_drawerOpen ? "p-3 h-100" : "p-3 h-100")">
                    <div class="bg-white h-100 rounded-3 position-relative w-100 d-flex flex-column sidebar-container">
                        <MudDrawerHeader Class="overflow-hidden">
                            <MudImage Src="images/logo.jpg" Alt="Profira" Class="" Height="@(_drawerOpen ? 85 : 98)" Style="@(_drawerOpen ? "" : "margin-left: -32px;")" />
                        </MudDrawerHeader>
                        <MudDivider Class="my-2 sidebar-divider w-75 mx-auto mb-6 flex-grow-0" />
                        <MudNavMenu Color="MudBlazor.Color.Warning">
                            <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All" Class="fw-semibold">@(_drawerOpen ? "Dashboard" : "")</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.Settings" OnClick="@ToggleModal" Class="fw-semibold">@(_drawerOpen ? "Master" : "")</MudNavLink>
                            <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/list-pasien" Match="NavLinkMatch.All" Class="fw-semibold">@(_drawerOpen ? "Pasien" : "")</MudNavLink>
                        </MudNavMenu>
                        <MudSpacer />
                        <MudDivider Class="my-2 sidebar-divider w-75 mx-auto mb-6 flex-grow-0" />
                        <MudButton Size="MudBlazor.Size.Small" Variant="Variant.Filled" StartIcon="@(_drawerOpen ? Icons.Material.Filled.Backspace : Icons.Material.Filled.ArrowCircleRight)" Color="MudBlazor.Color.Transparent" Class="mb-4 bg-transparent" DisableElevation="true" OnClick="() => _drawerOpen = !_drawerOpen">@(_drawerOpen ? "Minimize Menu" : "")</MudButton>
                    </div>
                </div>
            </MudDrawer>
            @if (MasterModalOpen) {
                <div class="master-modal" style="@(_drawerOpen ? "left: 0vw;" : "left: 1vw;")">
                    <div class="master-modal-header">
                        <p class="align-items-center d-flex justify-content-center text-center m-0">Master</p>
                        <MudFab Size="MudBlazor.Size.Small" IconColor="MudBlazor.Color.Default" Color="MudBlazor.Color.Transparent" StartIcon="@Icons.Material.Filled.Close" DisableElevation="true" OnClick="@CloseModal"  />
                    </div>
                    <MudNavLink OnClick="@(() => OnClickMasterNav("/clinic"))">Klinik</MudNavLink>
                    <MudNavLink OnClick="@(() => OnClickMasterNav("/package"))">Paket</MudNavLink>
                    <MudNavLink OnClick="@(() => OnClickMasterNav("/treatment"))">Perawatan</MudNavLink>
                    <MudNavLink OnClick="@(() => OnClickMasterNav("/product"))">Produk</MudNavLink>
                    <MudNavLink OnClick="@(() => OnClickMasterNav("/doctor"))">Dokter</MudNavLink>
                </div>
            }
        } @* else
        {
            <MudDrawer @bind-Open="@_drawerOpen" Variant="@DrawerVariant.Temporary" Width="300px">
                <MudDrawerHeader Style="background-color:  rgb(92, 111, 248)">
                    <div class="d-flex flex-column justify-content-center align-items-center w-100 py-8">
                        <MudImage src="/images/pasien.png" Class="rounded-circle" Width="70" Height="70"></MudImage>
                        <MudText Typo="Typo.h6" Style="color: white; font-weight: 400;">JOANNE</MudText>
                        <MudText Typo="Typo.body2" Style="color: white;">Doctor</MudText>
                    </div>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
                    <MudNavLink Icon="fa fa-stethoscope" Href="/pemeriksaan">Pemeriksaan</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Edit" Href="/penandaan-gambar">Penandaan Gambar</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.PlayCircle" Href="/cppt">CPPT</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Checklist" Href="/kontrol">Kontrol</MudNavLink>
                    <MudNavLink Icon="fa fa-user-md" Href="/doctor">Tindakan Perawatan</MudNavLink>
                    <MudNavLink Icon="@Icons.Material.Filled.Person" Href="/list-pasien" Match="NavLinkMatch.All">Pasien</MudNavLink>
                </MudNavMenu>
            </MudDrawer>
        } *@
        <MudMainContent Class="h-100" Style="@(_drawerOpen ? "" : "margin-left: 88px !important;")">
            @* <MudSwitch Class="pl-4" @bind-Value="@isDoctor" /> *@
            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="h-100 px-1 pb-4">
                @Body
            </MudContainer>
        </MudMainContent>
    </MudLayout>
</CascadingValue>

@inject NavigationManager NavigationManager;
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@inject ProtectedSessionStorage ProtectedSessionStore
@inject AppDbContext dbContext
@code {
    bool _drawerOpen = true;

    bool isDoctor = false;

    string path = "";

    Models.MKARY Kary;

    public string Search { get; set; }

    public string Title { get; set; } = "";

    public string Route { get; set; } = "";

    public string BackRoute { get; set; } = "#";

    public bool ShowSave { get; set; } = false;

    public string PasienName { get; set; } = "";

    public string PasienUsia { get; set; } = "";

    MudTheme MyCustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                Default = new Default()
                {
                    FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" }
                }
            }
        };

    // Go back in browser using Javascript on a Razor Page
    private void GoBack()
    {
        JSRuntime.InvokeVoidAsync("history.back");
    }

    Boolean MasterModalOpen = false;

    public void CloseModal()
    {
        MasterModalOpen = false;
    }

    public void ToggleModal()
    {
        MasterModalOpen = !MasterModalOpen;
    }

    public void ChangeTitleAndRoute(string newTitle, string newRoute)
    {
        Title = newTitle;
        Route = newRoute;
        StateHasChanged();
    }

    public void ChangeBackRoute(string newRoute)
    {
        BackRoute = newRoute;
        StateHasChanged();
    }

    public void ChangeShowSave(bool showSave)
    {
        ShowSave = showSave;
        StateHasChanged();
    }

    public void ChangePasien(string name, string usia)
    {
        PasienName = name;
        PasienUsia = usia;
        StateHasChanged();
    }

    string GetBgClass()
    {
        string wave = isDoctor ? "wave-blue" : "wave";
        return $"""background-image: url("images/{wave}.png"); background-repeat: no-repeat; height: 100vh; background-size: 100% 45%;""";
    }

    public void SetIsDoctor(Boolean newIsDoctor)
    {
        isDoctor = newIsDoctor;
        StateHasChanged();
    }

    void ToggleUserType()
    {
        isDoctor = !isDoctor;
    }

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    void OnClickMasterNav(string route)
    {
        if ("/" + NavigationManager.Uri.Replace(NavigationManager.BaseUri, "") == route)
        {
            return;
        }
        CloseModal();
        NavigationManager.NavigateTo(route);
    }

    public bool _isProfilePopoverOpen = false;

    public void ToggleProfilePopover()
    {
        _isProfilePopoverOpen = !_isProfilePopoverOpen;
    }

    protected override void OnInitialized() {
        isDoctor = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("dokter");
        path = NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var kary = await ProtectedSessionStore.GetAsync<Models.MKARY>("user");

            Kary = kary.Value;
            StateHasChanged();
        }
    }

    // Reset some variables on route change
    private void OnLocationChanged(object? sender, EventArgs e)
    {
        ShowSave = false;
        PasienName = "";
        PasienUsia = "";
        StateHasChanged();
    }

    public void Dispose() => NavigationManager.LocationChanged -= OnLocationChanged;

    private void OpenDialog()
    {
        DialogService.Show<ProfiraClinicWeb.Components.Dialog.LogOutDialog>("Log Out");
    }
}

<style>
    .minh-100 {
        min-height: 100%;
    }

    .mud-nav-link-icon-default {
        color: #0D24EC !important;
    }

    .sidebar-container .mud-button-label {
        color: #0D24EC !important;
        text-transform: none;
    }

    .mud-nav-link {
        font-weight: 500;
        font-size: 15px;
    }

    .mud-nav-link-text {
        letter-spacing: 0.5px !important;
    }

    .mud-toolbar-appbar {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mud-main-content {
        padding-top: 104px;
    }

    .sidebar-divider {
        border: 1px solid rgba(71, 71, 71, 1);
    }

    .master-modal {
        position: absolute;
        left: 1vw;
        top: 10vh;
        z-index: 696969;
        white-space: nowrap;
        background: rgba(255, 255, 255, 1);
        border-radius: 15px;
        overflow: hidden;
        width: 20vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .master-modal-header {
        background: rgba(255, 166, 34, 1);
        padding: 8px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-weight: 600;
    }

    .mud-drawer--closed.mud-drawer-mini{
        width: 88px !important; /* 56 + 2 * 16 */
        margin-right: 20px;
    }

    .save-btn {
        background: rgba(47, 193, 71, 1);
        color: white;
        text-transform: none;
    }

        .save-btn:hover {
            background: rgba(27, 153, 41, 1);
        }

    .back-btn {
        background: rgba(156, 99, 5, 1);
        color: white;
        text-transform: none;
    }

        .back-btn:hover {
            background: rgba(126, 69, 2, 1);
        }
</style>
