@page "/clinic/add"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Color = MudBlazor.Color

<MudCard Class="p-5 h-100 rounded-3 overflow-scroll">
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors" Class="d-flex flex-column gap-3 table-add-form">
        <MudGrid Class="" Style="max-width: 85%;">
            <MudItem xs="3" Class="p-1">
                <MudTextField T="string" Label="Kode Klinik" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel />
            </MudItem>
            <MudItem xs="6" Class="p-1">
                <MudTextField T="string" Label="Nama Klinik" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel />
            </MudItem>
            <MudItem xs="10" Class="p-1">
                <MudTextField T="string" Label="Alamat" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel />
            </MudItem>
            <MudItem xs="6" Class="p-1">
                <MudSelect T="string" Label="Kota" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel>
                    @foreach(var city in cities)
                    {
                        <MudSelectItem T="string" Value="@city" Style="height: 30px" />
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="3" Class="p-1">
                <MudTextField T="string" Label="Telepon" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel />
            </MudItem>
            <MudItem xs="6" Class="p-1">
                <MudSelect T="string" Label="Nama PT" Variant="Variant.Outlined" Margin="Margin.Dense" ShrinkLabel>
                    @foreach (var n in namaPT)
                    {
                        <MudSelectItem T="string" Value="@n" Style="height: 30px" />
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
        <MudDivider Style="border: 1px solid rgba(106, 106, 106, 1)" Class="my-5" />
        <div class="d-flex">
            <MudButton StartIcon="fa fa-floppy-disk" IconSize="@MudBlazor.Size.Small" Class="save-btn mt-2">Simpan</MudButton>
            <MudButton StartIcon="fa fa-arrow-left" IconSize="@MudBlazor.Size.Small" Class="back-btn mt-2" OnClick="@GoBack">Kembali</MudButton>
        </div>
    </MudForm>
</MudCard>



@inject IJSRuntime JSRuntime
@code {
    private List<DateTime> markedDates = new List<DateTime>();

    // Go back in browser using Javascript on a Razor Page
    private void GoBack()
    {
        JSRuntime.InvokeVoidAsync("history.back");
    }

    bool success;
    string[] errors = { };
    MudTextField<string> pwField1;
    MudForm form;

    string[] cities = ["Jakarta", "Surabaya", "Bandung", "Tangerang", "Yogyakarta"];
    string[] namaPT = ["Profira Manyar", "Profira HR"];

    private IEnumerable<string> PasswordStrength(string pw)
    {
        if (string.IsNullOrWhiteSpace(pw))
        {
            yield return "Password is required!";
            yield break;
        }
        if (pw.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(pw, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(pw, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(pw, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string PasswordMatch(string arg)
    {
        if (pwField1.Value != arg)
            return "Passwords don't match";
        return null;
    }
}

<style>
    .save-btn {
        background: rgba(47, 193, 71, 1);
        color: white;
        text-transform: none;
    }

    .back-btn {
        background: rgba(156, 99, 5, 1);
        color: white;
        margin-left: 20px;
        text-transform: none;
    }

    .table-add-form .mud-input-root {
        height: 30px !important;
        padding: 0px 10px !important;
        font-size: 12px !important;
    }

    .table-add-form .mud-input-label {
        font-size: 14px !important;
        line-height: 14px !important;
    }

    .table-add-form .mud-input-label-outlined.mud-input-label-margin-dense {
        transform: translate(12px, 10px) scale(1);
    }

    .table-add-form .mud-input-label-inputcontrol {
        top: -3px;
    }
</style>
